<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="net.bitquill.inputmethod.greek" android:versionCode="6" android:versionName="0.9.0">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application android:label="@string/greek_ime_name" android:icon="@drawable/icon" android:debuggable="false">
        <service android:name="GreekIME"
                android:label="@string/greek_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD" android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        
        <activity android:name="GreekIMESettings" android:label="@string/greek_ime_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>    
    </application>
<uses-sdk android:minSdkVersion="3"></uses-sdk>



</manifest>
